* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

/* first mobile */
.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width:1440px;
}

/* first mobile */

header {
  background-color: white;
  box-shadow: 0 0 15px #00000040;
  padding: 15px 0;
  position: fixed;
  width: 100%;
}

/* first mobile */
.navbar {
  display: flex;
  justify-content: space-between;
}

/* first mobile */
.menu {
  background: darkcyan;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 100vh;
  transition: .3s;
  z-index: 2;
}

/* first mobile */
.menu a {
  color: white;
  display: block;
  padding: 12px;
  border-bottom: 1px solid white;
  transition: background 0.3s, color 0.3s;
}

/* first mobile */

.menu a:hover {
  background: rgba(33, 150, 243, 0.7);
  /* Azul claro */
  color: #fff;
}

/* first mobile */

.fa-bars {
  cursor: pointer;
  font-size: 1.5rem;
}

/* first mobile */

.hidden {
  left: -100%;
  transition: .3s;
}

/* first mobile */

.px-5 {
  padding: 0 .7rem;
}

.hero {
  padding: 0 20px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1470&auto=format&fit=crop");

  background-color: #1a1a1a;
  color: white;
  background-position: center;
  /**/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /**/

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 50px;

  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  /**/
}

.hero h1,
.hero span {
  font-size: 45px;
}

.hero span {
  color: brown;
}

.hero p {
  font-size: 15px;
  padding: 30px 0 0 0;
  line-height: 25px;
}

/* first mobile */
.actions {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  gap: 1rem;
  margin-top: 2rem;
}

.link-solid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: brown;
  padding: 15px;
  border-radius: 6px;
  width: 100%;
}


.link-outline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(228, 228, 242);
  font-weight: bold;
  letter-spacing: 2px;
  padding: 15px;
  border-radius: 6px;
  background-color: #786e6ea9;
  width: 100%;
}


.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 1px;

  @media (min-width:569px) {
    display: flex;
    flex-direction: row;
  }
}

.stat {
  box-shadow: 0 0 4px brown;
  border-radius: 8px;
  padding: 1rem;
  flex: 1 1 150px;
  height: 500px;
  text-align: center;

  @media (min-width: 569px) {
    flex: 0 0 170px;
    max-height: 140px;
  }
}


.stat i {
  font-size: 40px;
}

.stat h3 {
  font-size: 2rem;
  color: crimson;
  padding: 5px;
}

.stat p {
  color: #00000060;
}

img {
  width: 100%;
}

section {
  padding: 3rem 0 3rem;
}


.section-title h2 {
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
}

.section-title h2 span {
  font-size: 40px;
  color: brown;
}

#modalidades {
  background-color: rgba(190, 231, 249, 0.313);

}

.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0;

  @media (min-width:569px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  @media (min-width: 992px){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   }
}

.card {
  box-shadow: 0 0 15px #00000040;
  border-radius: 8px;
  padding-bottom: 30px;
  overflow: hidden;
  background-color: white;
}

.card h3 {
  padding: 12px;
}

.card p {
  padding: 0 12px;
  line-height: 24px;
}


#planos {
  background-color: rgba(247, 135, 98, 0.137);
}

.plan-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 0 40px 0;
  
  @media (min-width:569px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  @media (min-width: 992px){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   }

}


.plan {
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 14px #00000040;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.plan h3 {
  font-size: 36px;
}

.plan .price {
  padding: 30px 0 20px;
  font-size: 30px;
}

.plan ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 0 0 2rem 0;
}

#comentarios {
  background-color: rgb(239, 86, 86);
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 29px;

  @media (min-width:569px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  @media (min-width: 992px){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   }
}

.testimonial {
  box-shadow: 0 0 15px #00000040;
  border-radius: 8px;
  background-color: white;
  padding: 5%;
  text-align: center;
}

.testimonial p {
  line-height: 24px;
  padding: 20px 0;
}

#contatos {
  background-color: #f2f2f2;
}

.contact {
  box-shadow: 0 0 15px #00000040;
  border-radius: 8px;
  background-color: white;
  padding: 5%;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-contact-form {
  padding: 30px;
  border-radius: 5px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 12px #00000040;
  @media (min-width:992px){
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.container-contact-form input {
  padding: 13px 5px;
  border-radius: 6px;
  border: 1px solid #37364c;
  width: 100%;
}

.container-contact-form textarea {
  padding: 13px 5px;
  border-radius: 6px;
  border: 1px solid #37364c;
  width: 100%;
  resize: none;
}

.container-contact-form button {
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 0;
  background-color: brown;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .2s ease;
}

.container-contact-form button:hover {
  background-color: rgba(223, 97, 97, 0.826);
}

.address p {
  padding: 5px 0;
}


footer {
  background-color: rgb(20, 20, 22);
  color: white;
  padding: 20px 0;
  margin-top: 2rem;
}

footer a {
  color: white;
}

footer li{
  padding: 5px 0;
}



.footer-content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;

  @media(min-width:769px){
    display:grid;
    grid-template-columns: 40% auto 35%;
  }
}

.footer-info p{
  padding: .5rem;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.copy-right{
  border-top: 1px solid gray;
  padding-top: 1rem;
}

.center {
  text-align: center;
}

.pb-6 {
  padding-bottom: 40px;
}

.white {
  color: white;
}

h2 span.black {
  color: rgb(61, 224, 252);

}
